<section>
    <div class="container mt-5">
        <div class="card p-3 shadow">
            <h5>Manage Students</h5>
            <a href="/admin/all-users" class="btn btn-dark btn-sm mt-2">View</a>
        </div>
    </div>
</section>