<style>
    .bg-primary {
        background-color: #ffffff !important;
    }
</style>

<div class="hero-block-wrapper bg-primary">
    <div class="container">
        <!-- Styles -->
        <div class="hero-block-styles">
            <div class="hb-styles1" style="background-image: url('img/core-img/dot.png')"></div>
            <div class="hb-styles2"></div>
            <div class="hb-styles3"></div>
        </div>
        <div class="">
            <!-- Skip Page -->
            {{!-- <div class="skip-page"><a href="page-home.html">Skip</a></div> --}}
            <!-- Hero Block Content -->
            <center>
                <div class="hero-block-content"><img class="mb-4" src="/img/logo.png" alt="">
                    <h2 class="display-4 text-center text-dark mb-3"><b>Welcome To Madrasathulfurqan International</b>
                    </h2>
                    <p class="text-dark">Madrasathulfurqan international online Madrassa Admission form
                        2025-26.</p>
                    <a class="btn btn-primary btn-lg w-100" href="/signup">Register Now</a>
                    {{!-- <a class="btn btn-dark mt-2 btn-lg w-100" href="/signin">Signin</a> --}}
                    <p class="mt-3">Developed By <a href="https://www.vectorcrop.com">VectorCrop.</p>

                </div>
            </center>
        </div>
    </div>
</div>