<br><br>
<div class="container mt-5">
    <div class="card p-4 shadow">
        <h2 class="text-center mb-3">Sign In</h2>
        <p style="text-align: center;">If you need to see your profile card, then you should signin with your email &
            phone number first</p>
        <form action="/signin" method="POST">
            {{#if signInErr}}
            <div class="alert alert-danger" role="alert">
                <p class="error alert-heading">{{signInErr}}</p>
            </div>
            {{/if}}
            <div class="form-group mt-4">
                <label class="mb-2">Your Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter Email">
            </div>
            <div class="form-group mt-4">
                <label class="mb-2">Your Phone Number</label>
                <input type="text" class="form-control" name="mobile" placeholder="Enter Phone Number">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary mt-2">Sign In</button>
            </div>
        </form>
    </div><br>
    <center>
        <a href="/signup" class="mt-4">Create a New Account ?</a>
    </center>

</div>