<style>
    .form-control.form-control-clicked {
        background-color: #ffffff;
        border-color: #00f10f;
        color: #073984;
    }

    .line-input {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        padding: 0.5rem 1rem;

        width: 100%;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid black;
        /* Adjust color and thickness as needed */
        outline: none;
        /* Remove default focus outline */
    }

    /* Optional: Style placeholder text */
    .line-input::placeholder {
        color: gray;
    }
</style>
<br><br>

<div class="container-lg">
    <div class="card">
        <h4 class="text-center p-4">Registration Form</h4>
        <div class="card-body">
            <form action="/signup" enctype="multipart/form-data" method="POST" style="">
                <input type="hidden" name="regid" id="hello">
                <input type="hidden" name="orgdate" id="datetime">

                <div class="row g-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="exampleInputText">First Name</label>
                            <input class="form-control" id="exampleInputText" name="fname" type="text"
                                placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="exampleInputText">Last Name</label>
                            <input class="form-control" id="exampleInputText" name="lname" type="text"
                                placeholder="Last Name" required>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="inputDate">Birth Date</label>
                            <input class="form-control" id="dob" onchange="calculateAge()" type="date" name="dob"
                                required>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <label class="form-label" for="exampleInputemail">Age of the Student</label>
                            <input class="form-control" type="number" name="age" id="age" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="exampleInputemail">Gender</label>
                    <select class="form-select form-control" id="defaultSelect" name="Gender"
                        aria-label="Default select example" required>
                        <option value="" selected disabled>Select Your Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="inputDate">Father's Name</label>

                    <input class="form-control w-100" name="father" type="text" placeholder="Enter Your Father's Name"
                        required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="inputDate">Mother's Name</label>

                    <input class="form-control w-100" name="mother" type="text" placeholder="Enter Your Mother's Name"
                        required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="inputDate">Occupation</label>
                    <input class="form-control w-100" name="occ" type="text" placeholder="Enter Occupation" required>
                </div>
                <hr>
                <h6 class="mb-3">Name of the guardian and address </h6>
                <div class="form-group">
                    <label class="form-label" for="">Guardian Name</label>
                    <input class="form-control w-100" name="gname" type="text" placeholder="Enter Guardian Name"
                        required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="">Guardian Address</label>

                    <textarea class="form-control w-100" name="gaddress" type="text" placeholder="Guardian address"
                        required></textarea>
                </div>

                <div class="row g-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="">City</label>
                            <input class="form-control" id="exampleInputText" name="gcity" type="text"
                                placeholder="City" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="">State / Province</label>
                            <input class="form-control" id="exampleInputText" name="gstate" type="text"
                                placeholder="State / Province" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label" for="">Country</label>
                        <input class="form-control" id="exampleInputText" name="gcountry" type="text"
                            placeholder="Country" required>
                    </div>
                </div>



                <hr>



                <div class="form-group">
                    <label class="form-label" for="exampleInputtelephone">Your Phone Number</label>
                    <input class="form-control" id="exampleInputtelephone" name="mobile" type="tel"
                        placeholder="+880 123 456 7890" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="exampleInputtelephone">Your Whatsapp Number</label>
                    <input class="form-control" id="exampleInputtelephone" type="tel" name="whatsapp"
                        placeholder="+880 123 456 7890" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="">Mother Tongue</label>
                    <input class="form-control" id="exampleInputText" name="tongue" type="text"
                        placeholder="Mother Tongue" required>
                </div>



                <hr>
                <h6 class="mb-3">Your Residential Address </h6>
                <div class="form-group">
                    <label class="form-label" for="">Street Address</label>
                    <textarea class="form-control w-100" name="address1" type="text" placeholder=" address"
                        required></textarea>
                </div>

                <div class="form-group">
                    <label class="form-label" for="">Street Address Line 2</label>
                    <textarea class="form-control w-100" name="address2" type="text" placeholder="address"
                        required></textarea>
                </div>

                <div class="row g-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="">City</label>
                            <input class="form-control" id="exampleInputText" name="city" type="text" placeholder="City"
                                required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="">State / Province</label>
                            <input class="form-control" id="exampleInputText" name="state" type="text"
                                placeholder="State / Province" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="">Postal / Zip Code</label>
                    <input class="form-control" id="exampleInputText" name="zipcode" type="text"
                        placeholder="Postal / Zip Code" required>
                </div>
                <hr>
                <div class="form-group">
                    <label class="form-label" for="">Student Email</label>
                    <input class="form-control" id="exampleInputText" name="email" type="email"
                        placeholder="Student Email" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="exampleInputemail">Class in which admission sought</label>
                    <select class="form-select form-control" id="defaultSelect" name="admission"
                        aria-label="Default select example" required>
                        <option value="" selected disabled>Please Select</option>
                        <option value="1st">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>


                    </select>
                </div>


                <div class="form-group">
                    <label class="form-label" for="exampleInputemail">Question Type</label>
                    <select class="form-select form-control" id="defaultSelect" name="qtype"
                        aria-label="Default select example" required>
                        <option value="" selected disabled>Please Select</option>
                        <option value="English Medium">English Medium</option>
                        <option value="Malayalam Medium">Malayalam Medium</option>


                    </select>
                </div>

                <hr>
                <h6 class="mb-4">Agreemnet</h6>
                <h6>
                    <div class="row g-2">
                        <div class="col-1 mt-4">
                            I
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="line-input" id="exampleInputText" name="afname" type="text"
                                    placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <input class="line-input" id="exampleInputText" name="alname" type="text"
                                    placeholder="Last Name" required>
                            </div>
                        </div>
                    </div>hereby declare that the above given information filled is true to best of my knowledge and I
                    agree to abide by the madrassa rules and regulations.
                </h6><br>

                <div class="form-group">
                    <label class="form-label" for="inputDate">Date</label>
                    <input class="line-input" id="inputDate" style="width: 150px;" type="date" name="adate" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="inputDate">Place</label>
                    <input class="line-input" style="width: 150px;" id="inputDate" type="text" name="aplace" required>
                </div>

                <hr>

                <div class="form-group">
                    <label class="form-label" for="customFile">Your Photo</label>
                    <input class="form-control border-1" id="customFile" name="avatar" type="file" required>
                </div>

                <h6>Your Signature</h6>
                <div class="form-group">
                    <div id="signature-pad" class="signature-pad">
                        <canvas id="canvas" width="300px" height="250px"
                            style="border-radius: 10px; border:1px solid gray;"></canvas>
                        <button type="button" class="mt-3 w-50" id="clear">Clear</button>
                    </div>
                    <input type="hidden" name="signature" id="signature" required>
                </div>


                <button class="btn btn-primary mt-4 w-100 d-flex align-items-center justify-content-center"
                    type="submit">Register Now
                    <svg class="bi bi-arrow-right-short" width="24" height="24" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                        </path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    // JavaScript code to capture signature and store it in the hidden input field
    document.addEventListener("DOMContentLoaded", function () {
        var canvas = document.getElementById('canvas');
        var signatureInput = document.getElementById('signature');
        var signaturePad = new SignaturePad(canvas);

        document.getElementById('clear').addEventListener('click', function () {
            signaturePad.clear();
        });

        document.querySelector('form').addEventListener('submit', function (e) {
            // Prevent form submission if the signature is empty
            if (signaturePad.isEmpty()) {
                e.preventDefault();
                alert('Please provide your signature.');
            } else {
                // Save signature data to the hidden input field
                signatureInput.value = signaturePad.toDataURL();
            }
        });
    });

</script>



<script>
    function calculateAge() {
        var dobInput = document.getElementById("dob").value;
        var dob = new Date(dobInput);
        var today = new Date();
        var age = today.getFullYear() - dob.getFullYear();
        var monthDiff = today.getMonth() - dob.getMonth();

        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dob.getDate())) {
            age--;
        }

        document.getElementById("age").value = age;
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        generateRandomString();
    });

    function generateRandomString() {
        // Define the set of characters you want to include
        const characters = '0123456789';

        // Generate a random 5-digit number
        let randomNumber = 'MFI';
        for (let i = 0; i < 5; i++) {
            const randomIndex = Math.floor(Math.random() * characters.length);
            randomNumber += characters.charAt(randomIndex);
        }

        // Set the value of the input field
        document.getElementById('hello').value = randomNumber;

        // Log the generated number to the console (optional)
        console.log('Generated Number:', randomNumber);
    }
</script>


<script>
    // Get current date and time
    const now = new Date();
    const year = now.getFullYear();
    const month = (now.getMonth() + 1).toString().padStart(2, '0');
    const day = now.getDate().toString().padStart(2, '0');
    const hours = ((now.getHours() + 11) % 12 + 1).toString().padStart(2, '0'); // Convert to 12-hour format
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const ampm = now.getHours() >= 12 ? 'PM' : 'AM';

    // Set default value to current date and time in 12-hour format with AM/PM
    const defaultDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
    document.getElementById('datetime').value = defaultDateTime;
</script>